@charset "utf-8";

*{
  font-family: 'Open Sans', sans-serif;
}

.logo img{
	height: 40px;
    width: 130px;
    padding: 8px 12px 0px 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li.right{
	float:right;
}

li a:link, a:visited{
    display: block;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

li a:link:not(.active), a:visited:not(.active){
    color: #808080;
}

li a:hover:not(.active) {
    color: black;
	border-bottom: 4px solid grey;
		
}

.active {
	color: black;
    border-bottom: 4px solid #ff4058;
}

/*CSS FORMULARIOS*/

body.fondo{
    /*background-image: linear-gradient(135deg, rgba(250,235,240,1) 0%, rgba(252,214,228,1) 47%, rgba(250,173,194,1) 81%, rgba(252,119,156,1) 100%);*/
    background-image: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 29%, rgba(245,245,245,1) 49%, rgba(219,219,219,1) 87%, rgba(209,209,209,1) 100%);
}

.container {
    width: 406px;
    max-width: 406px;
    margin: 0 auto;
}

.container-quiz{
    width: 580px;
    max-width: 580px;
    margin: 0 auto;
}


#registro, #login, #newQuestion, #jugar ,#quiz {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

.header {
    text-align: center;
}

.header h3 {
    color: #ff7284;
    font-size: 26px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header h4{
    margin-top: 0;
}

h1 {
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.enunciado{
    font-weight: bold;
}


.sep{
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0px -25px;
}

.sep-quiz-header{
    height: 2px;
    background: #e8e8e8;
    width: 580px;
    margin: 0px -25px;
}

.sep-quiz{
    height: 1px;
    background: #e8e8e8;
    width: 580px;
    margin: 0px -25px;
}

.inputs {
    margin-top: 25px;
    color: #404040;
}

.inputs input[type=email], input[type=password], input[type=text], select{
    background: #f5f5f5;
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 10px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
    font-size: 17px;
}

.inputs input[type=text].peque, select.peque{
    width:200px;
}

.inputs input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, select:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 2px #8c8c8c, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;   
}

#comprobarUsername, #comprobarEmail, #compPasswords{
    color: #ff3377;
    font-size:15px;
}

.inputs #submit {
    background: #ff4058;
    box-shadow: 0px 2px 10px 2px #ff7284;
    border-radius: 8px;
    padding: 15px 30px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: relative;  
    float: left;
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.inputs #submit:hover {
    background:#ff1a38;
}

#registro .inputs #submit {
    margin-left: 90px;
}

#login .inputs #submit {
   margin-left: 112px;
}

#jugar .inputs #submit {
   margin-left: 115px;
}

#newQuestion .inputs #submit {
    margin-left: 65px;
}

#quiz .inputs #submit {
    margin-left: 155px;
}

#registro .inputs img{
    margin-left: 95px;
    width: 150px;
    height: 150px;
}



.bold{
    font-weight: bold;
}

h4{
    text-align: center;     
    color: #404040;
    font: serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

div.center{
    text-align: center;
    margin-bottom: 20px;
}

div.right{
    /*margin-top:30px;*/
    float:right;
}

.error{
    color: #7d0000;
    text-align: center;
    font-weight: bold;
}

/*ESTILO DE LAS TABLAS*/

table{
    margin: 0 auto;
}

th{
    width: 200px; 
    text-align: center; 
    font: small-caps bold 120% serif;
    color: white;
    background-color: #ff4058;
    height: 35px;
    vertical-align: middle;
}

td{
    width: 300px; 
    text-align: center; 
    font: 110%;
    background-color: white; 
    height: 50px;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
}

tr:hover td{
    background-color: #ffe6e9;
}

td a.button{
    padding: 8px 12px;
    text-decoration: none;
    background: #00cc66;
    box-shadow: 0px 2px 8px 2px #ccffe6;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

td a.button:visited{
    color: white;
}

td a.button:hover{
    background: #00994d;
}