<html>
	<head>
		<title> Inicio </title>
		<link rel="stylesheet" href="/style/estilo.css" />
		<meta charset="utf-8">
		<script src="/sweet/sweetalert2.min.js"></script>
		<link rel="stylesheet" href="/sweet/sweetalert2.min.css">

		<script>
			function alertFinJuego(){
				swal(
 					'¡Hasta la próxima "{{last_nick}}"!',
  					'Porcentaje de aciertos en el conjunto de partidas: {{aciertos}}/{{total}}',
  					'info'
				)
			}
		</script>

	</head>
	<body class="fondo" onload="{{onload}}">
		<ul>
			<li class="logo"><img src="/images/QuizLogo2.png"/></li>
			<li><a href="/" class="active">Inicio</a></li>
			<li class="right"><a href="/SignUp">Registrarse</a></li>
			<li class="right"><a href="/Login">Login</a></li>
		</ul>

		<div style="padding:20px;margin-top:70px;height: 700px">

			<h1 style="color:black;"> ¡Bienvenid@ a Quiz! </h1>

			<br/>

			<div class="container">

				<form id="jugar" method="post">

					<div class="header">
						<h3> JUGAR </h3>
					</div>

				<div class="sep"> </div>

				<div class="inputs">
					<p> Introduce un nick para jugar:</p> 
					<input type="text" required name="nick" size="21" value="{{nick}}" autofocus="" placeholder="Tu nick..." /> 
					<p class="error"> {{nick_error}} </p>
					<p> <input id="submit" value="EMPEZAR" type="submit" /> </p>
				</div>
				</form>

			</div>

		</div>
		
	</body>
</html>