<html>
<head>
	<meta charset="utf-8">
	<title>Quiz {{tema}}</title>
	<link rel="stylesheet" href="/style/estilo.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" charset="UTF-8"></script>

	<script type="text/javascript">
		function comprobarPreg(codPreg) {	
			var selectedOption = $('input:radio[name='+codPreg+']:checked').val();
			$.ajax("/comprobarPregunta",{
					"type": "post",
					"data":{
						"selectedOption" : selectedOption,
						"codPreg" : codPreg
					},
					"success": function(result){ 
						if (result == 'BIEN'){
							$("#comprobarPreg_" + codPreg).html('<img src="/images/acierto_2.png" />');
						}
						else {
							$("#comprobarPreg_" + codPreg).html('<img src="/images/fallo_2.png" />');
						}
					},
					"error": function(result){ 
						console.error("Se ha producido un error:", result);
					}, 
					"async": true 
			});
		}
	</script>
</head>
<body class="fondo">
	<ul>
		<li class="logo"><img src="/images/QuizLogo2.png"/></li>
		<li><p class="menu">"{{nick}}" jugando...</p></li>
		<li class="right"><a class="salir" href="/FinalizarJuego">SALIR</a></li>
	</ul>

	<div style="padding:20px;margin-top:70px;">

		<div class="container-quiz">

			<form id='quiz' name='quiz' method="post">

				<div class="header">
					<h3> QUIZ! </h3>
					<h4> Tema: {{tema}} </h4>
				</div>

				<div class="sep-quiz-header"></div>

				<div class="inputs">

					{% set count = 1 %}
					{% for p in preguntas %}

						<p class="enunciado"> {{count}}. {{p.enunciado}} &nbsp; <span id="comprobarPreg_{{p.cod}}"> </span> </p> 

						<p>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="{{p.cod}}" value="OpcionUno"> {{p.resp1}} </input></p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="{{p.cod}}" value="OpcionDos"> {{p.resp2}} </input></p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="{{p.cod}}" value="OpcionTres"> {{p.resp3}} </input></p>

						<div style="text-align: center;">
						<button class="button" type="button" onClick="comprobarPreg('{{p.cod}}')"> Comprobar pregunta</button>
						</div>

						<br/>
						<br/>

						<div class="sep-quiz"></div>
						{% set count = count + 1 %}

					{% endfor %}

					<p align="center">
						<input type="submit" id="submit" value="ENVIAR RESPUESTAS" name="submit"> 
					</p>
				</div>
			</form>
		</div>

	</div>
</body>
</html>	