<html>
	<head>
		<title> Resultados </title>
		<link rel="stylesheet" href="/style/estilo.css" />
		<meta charset="utf-8">
	</head>
	<body class="fondo">
		<ul>
			<li class="logo"><img src="/images/QuizLogo2.png"/></li>
			<li><p class="menu">"{{nick}}" jugando...</p></li>
			<li class="right"><a class="salir" href="/FinalizarJuego">SALIR</a></li>
		</ul>

		<div style="padding:20px;margin-top:70px;height: 700px">

			<h1 style="color:black;">Resultados del Quiz sobre {{tema}}:</h1>
			<br/>
			<table id=table>
				<tr>
					<td class="aciertos"> Aciertos: </td><td class="aciertos_resul"> {{aciertos}} </td>
				</tr>
				<tr>
					<td class="fallos"> Fallos: </td><td class="fallos_resul"> {{fallos}} </td>
				</tr>
			</table>
			<br/>
			<br/>
			<div style="text-align: center;">
				<a class="button_repetir" href="/Quiz?tema={{tema}}"> Volver a intentarlo </a>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<a class="button_volver" href="/ElegirTema"> Elegir otro tema </a>
			</div>

		</div>
		
	</body>
</html>